body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(152, 180, 151);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}
header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(1, 173, 58);
    color: white;
    padding: 10px 20px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: flex-end;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}
.nav_menu {
    margin: 0;
    padding: 0;
    margin-left: auto;
    align-items: flex-end;
}
.nav_menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
}
.nav_menu a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: color 0.3s;
}
.nav_menu a:hover {
    color: #ddd;
}
.hero {
    background-image: url(produtos_ecologicos.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    margin-top: 55px;
    max-width: 100%;
}
.hero::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}
.hero_content {
    z-index: 1;
}
.cta-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    transition: background-color 0.3s;
}
.cta-button:hover {
    background-color: #218838;
}
